*{margin:0;padding:0;box-sizing:border-box;}
body{width:100%;height:100%;
  min-height:100vh;
  position:relative;
  margin:0 auto;padding:0;
  box-sizing:border-box;
  background:#f0f0f0;
  font-family: 'Fraunces', serif;
  font-size: 14px;
  display:flex;align-items:center;
  justify-content:center;
  
}
.container{width:100%;height:100%;
  max-width: 1440px;
  background:#f2ebe3;
  margin:0 auto;padding: 3rem 1rem;
  border-radius: 6px;
  overflow: hidden;
}
.card{width:100%;height:auto;
  max-width: 680px;
  padding: 0;margin: 0 auto;
  border-radius: 6px;
  overflow: hidden;
  box-shadow:0 0 8px 3px rgba(0,0,0,.1);
  background:#f0f0f0;
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.imgMobile{display:none;}
img{width:100%;height:auto;
  object-fit: cover;
}
.textCard{width:100%;height:auto;
  display:flex;
  justify-content:center;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}
h3{font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}
h1{margin:1rem 0;}
.price{display: flex; align-items: end;
  margin:1.5rem auto;
}
.price h4{font-size:1.6rem;
  color: #3c8067;  
}
.price span{padding-left: 2rem;}
.button{width:100%; height:auto;
  max-width: 90%;
  padding:1rem;margin:0 auto;
}
.button a{text-decoration: none;
  color: #f0f0f0;
  background:#3c8067;
  font-weight: 600;
  cursor: pointer;
  padding:.2rem 2rem;
  transition:all .2s ease-in-out;
  border-radius:6px;
}
@media only screen and (max-width:375px){
  .card{display:grid;
    grid-template-columns: 1fr;
  }
  .imgMobile{display:block;}
  .imgDesktop{display:none;}
}